.Maincontainer{
    width:97%;
    margin-top:20px;
    margin-left:20px;
}

table td {
    font-weight:bold;
}

tr, th {
    padding: 5px;
    text-align: center;
}

.nodataimg{
    margin-left:auto;
    margin-right: auto;
}

.Maincontainerdoner{
    width:90%;
    margin-top:20px;
    margin-left:70px;

}